.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border:2px outset black;
    text-align: center;
    margin: 50px;
}

#main-container{
    display: grid;
    margin:3px;
   
}

.inner-container{
    display: grid;
    grid-template-columns:1fr 1fr;
}

.container-box{
    justify-content: center;
    border: 3px dotted black;
    background-color: lightgrey;
}